.description-wrapper {
  margin: 80px 0;
}

.des-left {
  width: 500px;
  padding: 0;
  margin: 0;
}

.des-left img {
  width: 100%;
  border-radius: 10px;
}

.des-right {
  width: 50%;
  padding: 20px 0;
}

.des-text h4 {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 20px;
}

.des-text span {
  color: var(--green);
  font-weight: 900;
}

.des-text p {
  font-size: 16px;
  padding-bottom: 20px;
}

.des-time {
  display: flex;
  gap: 10px;
  padding-bottom: 20px;
}

.des-time i {
  color: var(--green);
}

.des-time p {
  font-size: 0.95rem;
}

.des-time span {
  color: var(--green);
  font-weight: 700;
}

.des-button {
  margin: 20px 0;
}

/* media  */
@media (max-width: 1025px) {
  .description-wrapper {
    flex-direction: column;
  }

  .des-right {
    width: 75%;
  }
}

@media (max-width: 477px) {
  .description-wrapper {
    align-items: first baseline;
    overflow-x: hidden;
  }

  .des-left img {
    width: 50%;
  }

  .des-right {
    width: 100%;
  }
}
