.footer-wrapper {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 40px;
  background: var(--blue);
}

.footer-about {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-about h2 {
  font-size: 1.9rem;
  color: #fff;
}

.footer-about P {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.95rem;
}

.footer-socials {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-socials i {
  background-color: var(--green);
  color: #fff;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.footer-socials i:hover {
  background-color: #1a1a1a;
}

.footer-socials i:active {
  transform: scale(0.9);
}

.footer-links {
  width: 20%;
}

.footer-links h1 {
  color: var(--green);
  padding-bottom: 20px;
}

.footer-links .links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-links .links a {
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.footer-links .links a:hover {
  color: var(--green);
  padding-left: 15px;
}

.footer-links .links i {
  color: var(--green);
  padding-right: 10px;
}

.contact-info {
  padding-right: 40px;
}

.contact-info h1 {
  color: var(--green);
  padding-bottom: 20px;
}

.info-detail {
  display: flex;
  gap: 15px;
  padding-bottom: 15px;
  align-items: center;
}

.info-detail i {
  color: var(--green);
}

.info-detail .info-det h4 {
  padding-bottom: 5px;
}

/* media  */
@media (max-width: 477px) {
  .footer-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .footer-about {
    width: 100%;
  }

  .footer-links {
    width: 100%;
    text-align: center;
  }

  .footer-links .links {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .contact-info {
    width: 100%;
    text-align: center;
  }

  .info-detail {
    flex-direction: column;
  }
}
