:root {
  --primary: hsl(0, 0%, 96%);
  --green: hsl(89, 53%, 54%);
  --accent: hsl(39, 100%, 50%);
  --blue: hsl(238, 43%, 12%);
  --shadow: 0px 23px 21px -8px rgba(136, 160, 255, 0.25);
}

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

button.normal {
  background-color: var(--accent);
  padding: 15px 50px;
  color: #fff;
  border: none;
  border-radius: 20px;
  margin: 0;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease-in;
}

button.primary {
  background-color: var(--green);
}

button.normal:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
}

button.normal:active {
  box-shadow: 8px 0px 16px 0px rgba(0, 0, 0, 0.5);
}

button.clear {
  background-color: transparent;
  border: none;
  padding: 15px;
  color: var(--green);
  font-size: 1.025rem;
  font-weight: 700;
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.padding {
  padding: 0 80px;
}

.innerWidth {
  width: 100%;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
